body#articles_articles_index .Article .OptionsTitle {
    visibility: hidden;
}

body#articles_articles_index .Article:hover .OptionsTitle {
    visibility: visible;
}

.Meta-Article {
    font-size: 11px;
    color: #666;
}

.Meta-Article > span {
    display: inline-block;
}

body#articles_articles_index .Article {
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

body#articles_articles_index .Article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

body#articles_articles_index .Article.HasThumbnail {
    display: inline-block;
    width: 100%;
}

body#articles_articles_index .Article.HasThumbnail .ArticleThumbnail {
    float: left;
    margin-right: 15px;
}

body#articles_articles_index .Article.HasThumbnail .ArticleInner {
    overflow: hidden;
}

.ArticleBody {
    padding: 4px 0;
}

body#articles_article_index .ArticleBody {
    margin-bottom: 5px;
    font-size: 110%;
    line-height: 1.7;
    word-wrap: break-word;
}

#AuthorPhoto {
    float: left;
    margin-right: 15px;
}

#AuthorInfo #AboutTheAuthor {
    float: right;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.28);
    text-transform: uppercase;
}


#comments {
    margin-top: 20px;
}
