body#articles_articles_index .Article .OptionsTitle {
    visibility: hidden;
}

body#articles_articles_index .Article:hover .OptionsTitle {
    visibility: visible;
}

.Meta-Article {
    font-size: 11px;
    color: #70727c;
}

.Meta-Article > span {
    display: inline-block;
}
