body#articles_articles_index .Article .OptionsTitle {
    visibility: hidden;
}

body#articles_articles_index .Article:hover .OptionsTitle {
    visibility: visible;
}

.Meta-Article {
    font-size: 11px;
    color: #666;
}

.Meta-Article > span {
    display: inline-block;
}

.Article {
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.Article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.ArticleBody {
    padding: 4px 0;
}

body#articles_article_index .ArticleBody {
    margin-bottom: 5px;
    font-size: 110%;
    line-height: 1.7;
    word-wrap: break-word;
}
